.*
*.*
*/*
*/*/*
*/*/*/*

# Do not ignore these files
!.gitignore
!.vimrc
!.bash_profile
!.gitignore_global
!.gitconfig
!.hyper.js
!.cig.yaml
!.inputrc
!.slate
!items.json
!.vuerc
!.tmux.config
!macos.sh
!journal.txt
!install.sh
!scripts/
!scripts/*
!scripts/*/
!scripts/*/*
!scripts/*/*/
!scripts/*/*/*
scripts/work/*
secrets
!.vim/
!.vim/*
!.vim/*/
!.vim/*/*
!.vim/*/*/
!.vim/*/*/*
!.cheat/
!.cheat/*
/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
Makefile
