*/*
*.*
.*

# Do not ignore these files
!.gitignore
!.vimrc
!.bash_profile
!.gitignore_global
!.gitconfig
!.hyper.js
!journal.txt
!install.sh
!scripts/
!scripts/*
!scripts/*/
!scripts/*/*
!scripts/*/*/
!scripts/*/*/*
!.vim/
!.vim/*
!.vim/*/
!.vim/*/*
!.vim/*/*/
!.vim/*/*/*
!.cheat/
!.cheat/*
