.*
*.*
*/*
*/*/*
*/*/*/*
.toolbox
.toolbox/
.toolbox/*
.toolbox/**
.tldrc
.tldrc/
.tldrc/*
.tldrc/**
.config/eureka/**
.aws-sam/**

# Explicit Ignore:
AmazonWorkDocsCompanion
Applications
Archives
Desktop
Documents
Downloads
Movies
Music
Pictures
Public
Remote
Work
WorkDocsDownloads
node_modules
workplace
.vim/bundle/tsuquyomi

# Do not ignore these files
!.gitignore
!.vimrc
!.bash_profile
!.bash_functions
!.gitignore_global
!.gitconfig
!.hyper.js
!.cig.yaml
!.inputrc
!.slate
!items.json
!.vuerc
!.tmux.config
!.toodles.yaml
!.icalBuddyConfig.plist
!macos.sh
!journal.txt
!install.sh
!items.json
!git-extra-commands/
!git-extra-commands/*/
!git-extra-commands/*/*/
!git-extra-commands/bin/*
!scripts/
!scripts/*
!scripts/*/
!scripts/*/*
!scripts/*/*/
!scripts/*/*/*
scripts/work/*
secrets
!*/*/MTMR/items.json
!MTMR/*
!MTMR/*/*
!MTMR/*/*/*
!.vim/
!.aws-sam/
!.aws-sam/*
!.vim/*
!.cheat/
!.cheat/*
!.aws-sam/**
.aws-sam/aws-sam-cli-app-templates
!.cheat/
!.cheat/**
!.config/
!.config/**
.config/cheat/cheatsheets/community
/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
Makefile

!.aspell.en.prepl
!.aspell.en.pws
!.aws/config
!.bash_profile_work
!.config/ada
!.config/redrive-dlq
!.config/thefuck
!.config/configstore
!.config/cr
!.config/mpv
!.config/youtube-viewer/youtube-viewer.conf
!.config/gogpt
!.gitmessage
!.gitmodules
!.gogpt
!.hyper_plugins/package.json
!.inclusivelint/
!.inclusivelint/**
!.lesshst
!.moro-config.json
!.myclirc
!.scripts/
!.scripts/*
!.scripts/**
!.task/
!.taskwarrior/
!.task/**
!.taskrc
!.timewarrior/
!.timewarrior/**
!.vim/autoload/
!.vim/autoload/**
!.vim/plugin/
!.vim/plugin/**
!.vit/
!.vit/**
!README.md
!amazon-dash.yml
!bookmarks.html
!crTemplate.md
!demo.xml
!ehh.yaml
!grease-monkey/
!helpers/
!helpers/*
!helpers/**
!ee-stories/
!ee-stories/*
!ee-stories/**
!package.json
!ruleset/
!ruleset/**
!signoff.txt
!templates/
!templates/**
!Library/Calendars
!Library/Preferences
!Library/Workflows
!Library/Biome
!Library/IntelligencePlatform
!Library/Suggestions
!Library/LaunchAgents
!Library/PersonalizationPortrait
!Library/KeyboardServices
!Library/Metadata
!Library/Spelling
!Library/SafariSafeBrowsing
!Library/Reminders
!Library/DoNotDisturb
!scripts/
!scripts/*
!scripts/**
!Event-Storming-Sourced-27Oct21.pdf
!write-well.md
!slides-tutorial.md
!orr-questions
!orr-tasks.md
!pip
!rules
!Postman
!dollar-taco-night
!click.app
!click.workflow
!crTemplate.md
!get-pip.py
!notes/*
!notes/**
!ee-stories
!ecs-runbook.md
