[user]
    email = ailor@amazon.com
    name = Jake Ailor
[push]
    default = current
[diff]
    tool = git-icdiff
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[core]
    editor = vim
    excludesfile = /Users/ailor/.gitignore_global
    attributesfile = /Users/ailor/.config/git/attributes
    pager = less
[commit]
    template = /Users/ailor/.gitmessage
[alias]
    tree = log --graph --oneline --decorate --all
    tree-long = log --graph --decorate --all
    last = log -p -1
    search = !git log --oneline | grep
    uncommit = reset --soft HEAD~1
    cleanout = !git clean -df && git checkout -- .
    diff = git diff -- . ':!package-lock.json'
[color]
    ui = auto
[icdiff]
    options = --report-identical-files
